:root {
	// Fonts
	--font-primary: "Jost", "Segoe UI", serif;

	// Colors
	--base-text: #3e424b;
	--orange: #bb8c5f;
	--dark-orange: #524336;
	--white: #faf6f2;
	--gray: #d0d0d0;
	--black: #050402;

	//
	--transition-time: 220ms;
}

$tablet_landscape: 992px;
$tablet: 768px;
$phone: 480px;
